<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>約束アラームメール</title>
<link rel="stylesheet" href="/css/memoWrite.css">
</head>
<body>
	<div class="container">
		<div class="header">約束アラームメール</div>
		<form>
			<div class="content-box">
				<a class="">내용:</a>
				<a href="" class="content">進行中1</a>
			</div>
			<div class="content-box">
				<a class="">약속날짜:</a>
				<a href="" class="content">完了1</a>
			</div>
			<div class="On/OFF-container">
	        	<label>ON</label>
	        	<input type="checkbox" id="">
	        	<label>OFF</label>
	        	<input type="checkbox" id="">
	    	</div>
			<div class="button-container">
				<a href="" class="register-btn">登録</a>
				<a href="" class="cancel-btn">取り消し</a>
			</div>
		</form>
	</div>

</body>
</html>