<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>約束アラームメール</title>
<link rel="stylesheet" href="/css/memo.css">
</head>
<body>
	<div class="container">
		<div class="header">約束アラーム(登録)</div>
		<form action="/memoWritePro" method="post" onsubmit="return confirm('登録しますか？');">
			<div class="content-box">
				<a class="tab">内容：</a>
				<input type="text" name="memocontent" value="" class="form1">
			</div>
			<div class="content-box">
				<a class="tab">約束の日付：</a>
				<input type="datetime-local" name="time" class="form2">
			</div>
			<div class="OnOFF-container">
	        	<input type="radio" name="onoff" value="on" checked>
	        	<label>ON</label>
	        	<input type="radio" name="onoff" value="off">
	        	<label>OFF</label>
	    	</div>
			<div class="button-container">
				<input class="register-btn" type="submit" value="登録">
				<input class="cancel-btn" type="reset" value="取り消し">
			</div>
		</form>
	</div>

</body>
</html>