<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>約束アラームメール</title>
<link rel="stylesheet" href="/css/memo.css">
</head>
<!-- メモ詳細画面 -->
<body>
<form action="/memoDelete" method="post" onsubmit="return confirm('本当に削除しますか？');">
<input type="hidden" name="memo_Id" th:value="${memoEntity.memo_Id}" />
	<div class="container"  th:each="memoEntity : ${memoEntity}">
		<div class="header">約束アラーム</div>
			<div class="content-box">
				<a class="tab">内容：</a>
				<a th:text="${memoEntity.content}"></a>
			</div>
			<div class="content-box">
				<a class="tab">約束の日時：</a>
				<a th:text="${#temporals.format(memoEntity.reminder_Time, 'yyyy-MM-dd HH:mm')}"></a>
			</div>
			<div class="content-box2">
				<a class="tab">アラームメール機能：</a>
				<a th:text="${memoEntity.alarm_Status}"></a>
			</div>
			<div class="button-container2">
				<input class="cancel-btn" type="submit" value="削除">
    			<th:block th:if="${memoEntity.memo_Status == 0}">
        			<input class="memoUpdate-btn" type="button" value="修正" th:onclick="|location.href='/memoUpdate?memo_Id=${memoEntity.memo_Id}'|">
    			</th:block>
			</div>
	</div>
</form>
</body>
</html>