<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>約束アラームメール</title>
<link rel="stylesheet" href="/css/memo.css">
</head>
<!-- メモ登録画面 -->
<body>
	<div class="container">
		<div class="header">約束アラーム(登録)</div>
		<form action="/memoWritePro" method="post" onsubmit="return confirm('登録しますか？');">
			<div class="content-box">
				<a class="tab">内容：</a>
				<input type="text" name="content" class="form1" required>
			</div>
			<div class="content-box">
				<a class="tab">約束の日時：</a>
				<input type="datetime-local" name="reminder_Time" class="form2" required>
			</div>
			<div class="OnOff-container">
				<a class="tab">アラームメール機能：</a>
	        	<input type="radio" name="alarm_Status" value="on" checked>
	        	<label>ON</label>
	        	<input type="radio" name="alarm_Status" value="off">
	        	<label>OFF</label>
	    	</div>
			<div class="button-container">
				<input class="register-btn" type="submit" value="登録">
				<input class="cancel-btn" type="reset" value="取り消し">
			</div>
		</form>
	</div>
</body>
</html>
